# Project exclude paths
/leyou-gateway/target/
/leyou-item/leyou-item-interface/target/
/leyou-item/leyou-item-service/target/
/leyou-registry/target/
/.idea
/target
*/target/
*.iml
*.iws
*.ipr
*.log
*.classpath
*.settings